<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Everest Solutions</title>
  <%= stylesheet_link_tag 'everest' %>
</head>
<body id=c<%= params[:controller] %>>
<%
  menus = %w[Home About Services Portfolio Contact]
  options = {
                   :home =>        %w[Home],
                   :about =>       %w[About History],
                   :services =>    %w[Services FAQ],
                   :portfolio =>   %w[Portfolio Clients Testimonials],
                   :contact =>     %w[Contact]
                 }[params[:controller].to_sym]
%>
  <div id=wrapper>
    <div id=header>
      <ul id=menulink>
        <% menus.each do |menu| %>
          <li <%= "class=current" if params[:controller] == menu.downcase %>>
            <%= link_to menu, :controller => menu.downcase, :action => menu.downcase %>
          </li>
        <% end %>
      </ul><!-- menulink -->

      <ul class=optionlink>
        <% options.each do |option| %>
          <li <%= "id=current-option" if params[:action] == option.downcase %>>
            <%= link_to option, :action => option.downcase %>
          </li>
        <% end %>
      </ul><!-- optionlink -->
    </div><!-- header -->
    <div id=main>
      <div id=contentbox>
        <div id=content>

          <%= yield  %>

        </div> <!-- content -->
      </div> <!-- contentbox -->
      <div id=sideimg>
        <img src="../images/<%= params[:action] %>.jpg">
      </div> <!-- sideimg -->
      <div id=clearone>&nbsp;</div>
    </div><!-- main -->
    <div id=footers>
      <div id=contactinfo>
        <p>Phone: (954)456-8187</p>
      </div> <!-- contactinfo -->
      <div id=footerbar>
        <p>www.everestsolutions.com</p>
      </div> <!-- footerbar -->
    </div><!-- footers -->
  </div><!-- wrapper -->
</body>
</html>
